@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
body {
    margin: 0px;
    background-color: #DBE2EF;
    font-family: Poppins;
}
header {
    background-color: #112D4E;
    color: #F9F7F7;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}
main {
    text-align: center;
}
.drums {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
}
.box {
    height: 100px;
    width: 100px;
    background-color: #3F72AF;
    margin: 20px;
    border-radius: 10px;
    box-shadow:  20px 20px 60px #bac0cb,
             -20px -20px 60px #fcffff;
    
    display: flex;   
    flex-direction: column-reverse;
    font-weight: 800;
    font-size: 2rem;
    text-shadow: 5px 5px #112D4E;
    color: #DBE2EF;
    padding: 10px;
}
.pressed {
    opacity: 0.5;
    box-shadow:  20px 20px 60px red,
             -20px -20px 60px red;
    font-size: 4rem;
}
footer {
    margin-top: 5%;
    text-align: center;
}